@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body {
  display: grid;
  height: 100%;
  place-items: center;
  background: #1abc9c;
  }
.wrapper {
  width: 380px;
  background: #fff;
  border-radius: 5px;
}
.wrapper .title{ 
  line-height: 80px;
  background: #16a085;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
.wrapper form{
  padding: 30px 20px 25px 20px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;

}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  padding-left: 20px;
  outline: none;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  display: flex;
  
}
.row {
  display: flex;
  align-items: center;
  margin-top: 5px;
} 
.row img {
  margin-right: 10px;
  border-radius: 50%;
} 
.message input[type="submit"] {
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 100%;
    width: 100%;
    outline: none;
    padding: 10px;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.message input[type="submit"]:hover {
    letter-spacing: 2px;
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(56, 189, 248, 0.6),
    0 0 25px rgba(56, 189, 248, 0.3);
} 

.pass {
    text-align: center;
    margin-top: 15px;
}

.pass a {
    color: #20b89a;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
}

.pass a:hover {
    color: #168f79;
    text-decoration: underline;
} 
